<div class="card">
    <div class="card-header">
        <h2>New Post</h2>
            </div>
<form id="new-post-form" class="card-body">
    <div>
         <label for="post-title">Post Title</label>
         <input type="text" name="post-title" id="post-title"/>
    </div>
    <div>
        <label for="post-body" class="form-lable">Post Body</label>
        <textarea name="post-body" id="post-body"></textarea>
    </div>
    <button type="submit" id="post-btn" class="btn">Create New Post</button>    
  
</form>
</div>